@charset "UTF-8";

/*
@font-face {
	font-family: 'Light';
	src: url("/fonts/HelveticaNeue-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Medium';
	src: url("/fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
	font-family: 'UltraLight';
	src: url("/fonts/HelveticaNeue-UltraLight.ttf") format("truetype");
}
*/

html {
	height: 100%;
	font-family: 'Light';
	margin-top: 1%;
	margin-left: 3%;
}

body {
	height: 100%;
	font-size: 20px;
}

section {
	font-size: 25px;
	margin-top: 5px;
	text-align: justify;
	color:#0090FF;
}

unimportant {
	margin-left: 15px;
	color: #BBBBBB;
}

h1 {
	color: #0090FF;
	margin: 0;
	padding: 0;
	text-align: center;
}

li {
	color: #888888;
}

button {
	font-size: 20px;
	margin-top: 5px;
	text-align: justify;
	color: #0090FF;
	line-height: 130%;
}

input {
	font-size: 20px;
}

alert {
	titleStyleName: "alertTitle";
	messageStyleName: "messageStyle";
	buttonStyleName: "buttonStyle:;
}

.alertTitle {
	font-size: 15px;
	color: #0090FF;
}

.messageStyle {
	
}


















